<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>HomePage</title>
</head>
<body>



<div class="container">
    <div class="row">
        <h1> You are logged in as normal user</h1>
    </div>
    <div class="row">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titlu</th>
                <th scope="col">DA</th>
                <th scope="col">NU</th>
                <th scope="col">Voteaza DA</th>
                <th scope="col">Voteaza NU</th>
            </tr>
            </thead>
            <tbody>

            {% for poll in polls %}
                {#            {{ dump(poll) }}#}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ poll.title }}</td>
                    <td>{{ poll.yes }}</td>
                    <td>{{ poll.no }}</td>
                    {% if poll.voted == 1 %}
                        <td> <a href="/user/homepage/poll/vote/1/{{ poll.id }}">VOTEAZA</a> </td>
                        <td> <a href="/user/homepage/poll/vote/0/{{ poll.id }}">VOTEAZA</a> </td>
                    {% elseif poll.voted == 2 %}
                        <td> Votat </td>
                        <td> <a href="/user/homepage/poll/vote/0/{{ poll.id }}">VOTEAZA</a> </td>
                    {% elseif poll.voted == 3 %}
                        <td> <a href="/user/homepage/poll/vote/1/{{ poll.id }}">VOTEAZA</a> </td>
                        <td> Votat </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>